  .verborgen {
  display: none !important;
}

.begin:nth-child(1) {
  background-color: red;
  height: 100vh;
  grid-column: 1/9;
  grid-row: 1/17;
  animation-name: expandX;
  animation-delay: 2s;
  animation-duration: 0.4s;
  transform-origin: right;
  transform: scaleX(0);
  animation-fill-mode: forwards;
  animation-timing-function: linear;


}

.begin:nth-child(2) {
  background-color: blue;
  grid-row: 9/17;
  grid-column: 9/17;
  animation-name: expandY;
  animation-delay: 1.6s;
  animation-duration: 0.4s;
  transform-origin: top;
  transform: scaleY(0);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.begin:nth-child(3) {
  background-color: green;
  grid-row: 1/9;
  grid-column: 9/13;
  animation-name: expandX;
  animation-delay: 1.2s;
  animation-duration: 0.4s;
  transform-origin: right;
  transform: scaleX(0);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.begin:nth-child(4) {
  background-color: yellow;
  grid-row: 4/9;
  grid-column: 13/17;
  animation-name: expandY;
  animation-delay: 0.8s;
  animation-duration: 0.4s;
  transform-origin: top;
  transform: scaleY(0);
  animation-fill-mode: forwards;
  animation-timing-function: linear;

}

.begin:nth-child(5) {
  background-color: pink;
  grid-row: 1/4;
  grid-column: 13/15;
  animation-name: expandX;
  animation-delay: 0.4s;
  animation-duration: 0.4s;
  transform-origin: right;
  transform: scaleX(0);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.begin:nth-child(6) {
  background-color: purple;
  grid-column: 15/17;
  animation-name: expandX;
  animation-duration: 0.4s;
  transform-origin: right;
  animation-timing-function: linear;
}

.begin:nth-child(7){
  background-color: orange;
  grid-column: 15/17;
  grid-row: 2/4;
  animation-name: expandX;
  animation-duration: 0.4s;
  transform-origin: top right;
  animation-timing-function: linear;

}

#menu {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  position: fixed;
}

#menu p {
  font-size: 3rem;
  color: white;
  font-family: helvetica;
  transform: rotate(90deg) translateX(10rem);
  transform-origin: center;
  text-align: center;
  padding: 6rem;
  height: inherit;
  overflow: hidden;
}

#menu p:hover {

  transform: rotate(0deg) translateX(0rem);

}

@keyframes expandX {
  0% { transform: scaleX(0);

  }

  100% {
    transform: scaleX(1);

  }

}
@keyframes expandXTerug {
  0% { transform: scaleX(1);

  }

  100% {
    transform: scaleX(0);

  }

}

@keyframes expandY {
  0% { transform: scaleY(0);

  }

  100% {
    transform: scaleY(1);

  }

}

.weg:nth-child(1) {
  background-color: red;
  height: 100vh;
  grid-column: 1/9;
  grid-row: 1/17;
  transform: scale(1);
  animation-name: expandXWeg;
  animation-delay: 2s;
  animation-duration: 0.4s;
  transform-origin: left;
  animation-fill-mode: forwards;
  animation-timing-function: linear;


}

.weg:nth-child(2) {
  background-color: blue;
  grid-row: 9/17;
  grid-column: 9/17;
  transform: scale(1);
  animation-name: expandYWeg;
  animation-delay: 1.6s;
  animation-duration: 0.4s;
  transform-origin: bottom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

}

.weg:nth-child(3) {
  background-color: green;
  grid-row: 1/9;
  grid-column: 9/13;
  transform: scale(1);
  animation-name: expandXWeg;
  animation-delay: 1.2s;
  animation-duration: 0.4s;
  transform-origin: left;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.weg:nth-child(4) {
  background-color: yellow;
  grid-row: 4/9;
  grid-column: 13/17;
  transform: scale(1);
  animation-name: expandYWeg;
  animation-delay: 0.8s;
  animation-duration: 0.4s;
  transform-origin: bottom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

}

.weg:nth-child(5) {
  background-color: pink;
  grid-row: 1/4;
  grid-column: 13/15;
  animation-name: expandXWeg;
  animation-delay: 0.4s;
  animation-duration: 0.4s;
  transform-origin: left;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform: scale(1);
}

.weg:nth-child(6) {
  background-color: purple;
  grid-column: 15/17;
  transform: scale(1);
  animation-name: expandXWeg;
  animation-duration: 0.4s;
  transform-origin: left;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

.weg:nth-child(7){
  background-color: orange;
  grid-column: 15/17;
  grid-row: 2/4;
  transform: scale(1);
  animation-name: expandXWeg;
  animation-duration: 0.4s;
  transform-origin: left;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes expandXWeg {
  0% { transform: scaleX(1);

  }

  100% {
    transform: scaleX(0);

  }

}


@keyframes expandYWeg {
  0% { transform: scaleY(1);

  }

  100% {
    transform: scaleY(0);

  }

}

.Achtergrondsite {
  height: 220rem;
  background-color: black;
}
